.btn-cm {
    display: inline-block;
    padding: 13.5px 38px;
    border: 5px solid #000000;
    text-align: center;
    font-family: $font-primary;
    font-size: 24px;
    line-height: 32px;
    @media (max-width: 1300.98px){
        font-size: 24px;
        line-height: 32px;
    }
    @media (max-width: $mobile-smaller){
        font-size: 18px;
        line-height: 24px;
        padding: 8px 12px;
    }
}

.slow-move-clockwise{
    animation: slow-move-clockwise 15s cubic-bezier(.41,.17,.57,.79) infinite both;
}
.slow-move-anticlockwise{
    animation: slow-move-anticlockwise 20s cubic-bezier(.41,.17,.57,.79) infinite both;
}

.wrap-circle{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    z-index: -3;
    .cir{
      transition: .3s ease all;
      animation: 6s rainToDown infinite linear;
      opacity: 0;
    }
    .cir-1, .cir-11, .cir-25{
      width: 27px;
      animation-delay: 3s;
    }
    .cir-2, .cir-10, .cir-23{
      width: 49px;
      animation-delay: 1s;
    }
    .cir-3, .cir-15, .cir-24{
      width: 52px;
      animation-delay: 2s;
    }
    .cir-4, .cir-12, .cir-18{
      width: 48px;
      animation-delay: 4s;
    }
    .cir-5, .cir-13, .cir-21{
      width: 48px;
      animation-delay: 5s;
    }
    .cir-6, .cir-17, .cir-16{
      width: 27px;
      animation-delay: 8s;
    }
    .cir-7, .cir-20, .cir-14{
      width: 27px;
      animation-delay: 6s;
    }
    .cir-8, .cir-22{
      width: 27px;
      animation-delay: 7s;
    }
    .cir-9, .cir-19{
      width: 48px;
      animation-delay: 3s;
    }
  }