.btn-cm {
    display: inline-block;
    padding: 13.5px 38px;
    border: 5px solid #000000;
    text-align: center;
    font-family: $font-primary;
    font-size: 32px;
    line-height: 38px;
    @media (max-width: 1300.98px){
        font-size: 24px;
        line-height: 32px;
    }
    @media (max-width: $mobile-smaller){
        font-size: 18px;
        line-height: 24px;
        padding: 8px 12px;
    }
}

.slow-move-clockwise{
    animation: slow-move-clockwise 15s cubic-bezier(.41,.17,.57,.79) infinite both;
}
.slow-move-anticlockwise{
    animation: slow-move-anticlockwise 20s cubic-bezier(.41,.17,.57,.79) infinite both;
}