// Londrina Solid
@font-face {
    font-family: 'Londrina Solid';
    src: url('../fonts/londrina-solid/LondrinaSolid-Thin.ttf')  format('truetype');
    font-display: swap;
    font-weight: 100;
}
@font-face {
    font-family: 'Londrina Solid';
    src: url('../fonts/londrina-solid/LondrinaSolid-Light.ttf')  format('truetype');
    font-display: swap;
    font-weight: 300;
}
@font-face {
    font-family: 'Londrina Solid';
    src: url('../fonts/londrina-solid/LondrinaSolid-Regular.ttf')  format('truetype');
    font-display: swap;
    font-weight: 400;
}
@font-face {
    font-family: 'Londrina Solid';
    src: url('../fonts/londrina-solid/LondrinaSolid-Black.ttf')  format('truetype');
    font-display: swap;
    font-weight: 900;
}

// DM-SAN
@font-face {
    font-family: 'DM Sans';
    src: url('../fonts/dm-san/DMSans-Regular.ttf')  format('truetype');
    font-display: swap;
    font-weight: 400;
}
@font-face {
    font-family: 'DM Sans';
    src: url('../fonts/dm-san/DMSans-Medium.ttf')  format('truetype');
    font-display: swap;
    font-weight: 500;
}
@font-face {
    font-family: 'DM Sans';
    src: url('../fonts/dm-san/DMSans-Bold.ttf')  format('truetype');
    font-display: swap;
    font-weight: 700;
}
