.main-footer{
    color: #ffffff;
    background-color: #ffffff;
    position: relative;
    .top-ft{
        background-color: #ffffff;
        padding: 100px 0 80px;
        .wrap{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .right-top{
                display: flex;
                .address{
                    font-family: $font-second;
                    font-size: 22px;
                    line-height: 32px;
                    font-weight: 500;
                    color: #000000;
                    margin-right: 100px;
                }
                ._contact{
                    display: flex;
                    flex-direction: column;
                    a{
                        font-family: $font-second;
                        font-size: 22px;
                        line-height: 32px;
                        font-weight: 500;
                        color: #000000;
                    }
                }
            }
        }
        .heading{
            font-family: $font-primary;
            font-size: 55px;
            line-height: 58px;
            font-weight: 300;
            color: #ED1944;
        }
    }
}