.main-footer{
    padding: 80px 0 90px;
    color: #ffffff;
    background-color: $second-color;
    position: relative;

    .line-ft{
        width: 100%;
        height: 40px;
        background-image: url(../images/line-ft.png);
        position: absolute;
        top: 0;
        left: 0;
        background-repeat: no-repeat;
        background-position: left;
        background-size: cover;
    }
    .wrap{
        text-align: center;
    }
    .logo-ft{
        img{height: 200px;width: auto;}
    }
    .last-col{
        margin-top: 38px;
        ul{
            list-style: none;
            display: flex;
            justify-content: center;
            margin-top: 32px;
            li{
                &:not(:last-child){
                    margin-right: 32px;
                }
                a{
                    width: 50px;
                    height: 50px;
                    background: #ffffff;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 100%;
                    color: $primary-color;
                    position: relative;
                    &:before{
                        content: "";
                        width: 54px;
                        height: 19px;
                        background-image: url(../images/icon/hola-mini.svg);
                        background-size: cover;
                        position: absolute;
                        top: -10px;
                        left: -3px;
                    }
                }
            }
        }
        .copy-r{
            font-family: $font-second;
            font-weight: 400;
            font-size: 20px;
            line-height: 32px;
            text-align: center;
            color: #FFFFFF;
            span{
                font-size: 16px;
                display: block;
                margin-top: 2px;
            }
        }
    }

    @media (max-width: 1300.98px){
        padding: 80px 0 48px;
    }
    @media (max-width: $mobile-smaller){
        .logo-ft img{
            height: 110px;
        }
        .last-col{
            margin-top: 24px;
            ul li a{
                width: 36px;
                height: 36px;
                &:before{
                    width: 36px;
                    height: 12px;
                    top: -5px;
                    left: 0px;
                }
                svg{
                    height: 18px;
                }
            }
        }
    }
}