.main-footer {
    color: #ffffff;
    background-color: #ffffff;
    position: relative;
    .top-ft {
        background-color: #ffffff;
        padding: 100px 0 80px;
        position: relative;
        z-index: 1;
        &::before {
            content: "";
            background-image: url(../images/bg-ft-top.png);
            width: 100%;
            height: 180px;
            position: absolute;
            bottom: -16px;
            left: 0;
            background-repeat: no-repeat;
            background-size: auto;
            background-position: center;
            z-index: -1;
        }
        .wrap {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .right-top {
                display: flex;
                .address {
                    font-family: $font-second;
                    font-size: 22px;
                    line-height: 32px;
                    font-weight: 500;
                    color: #000000;
                    margin-right: 100px;
                }
                ._contact {
                    display: flex;
                    flex-direction: column;
                    a {
                        font-family: $font-second;
                        font-size: 22px;
                        line-height: 32px;
                        font-weight: 500;
                        color: #000000;
                    }
                }
            }
        }
        .heading {
            font-family: $font-primary;
            font-size: 55px;
            line-height: 58px;
            font-weight: 300;
            color: #ed1944;
        }
    }

    .bottom-ft {
        background-color: #fff11e;
        padding-top: 110px;
        padding-bottom: 60px;
        .wrap {
            display: flex;
            justify-content: space-between;
            > .copyright{
                display: none;
                font-family: $font-second;
                font-weight: 500;
                font-size: 16px;
                line-height: 21px;
                color: #000000;
            }
            .logo-ft {
                display: flex;
                align-items: flex-start;
                a {
                    margin-top: -30px;
                }
                .content-bt {
                    padding-left: 52px;
                    max-width: 590px;
                }
                img {
                    height: auto;
                    width: 114px;
                    min-width: 114px;
                    display: block;
                }
                .bottom-heading {
                    font-size: 55px;
                    line-height: 58px;
                    font-weight: 300;
                    font-family: $font-primary;
                    color: #1f1f1f;
                }
                .copyright {
                    font-family: $font-second;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 21px;
                    color: #000000;
                    margin-top: 100px;
                }
            }
            .social {
                display: flex;
                padding-top: 32px;
                ._menu a {
                    display: block;
                    font-family: $font-second;
                    font-size: 18px;
                    line-height: 28px;
                    font-weight: 500;
                    color: #000000;
                }
                ul {
                    display: flex;
                    list-style: none;
                    margin-left: 80px;
                    li {
                        list-style: none;
                        &:not(:last-child) {
                            margin-right: 10px;
                        }
                        a {
                            width: 52px;
                            height: 52px;
                            background: #ed1944;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border-radius: 100%;
                            color: #e7104c;
                            position: relative;
                            &::before {
                                content: "";
                                width: 54px;
                                height: 19px;
                                background-image: url(../images/icon/hola-mini-w.svg);
                                background-size: cover;
                                position: absolute;
                                top: -13px;
                                left: -3px;
                            }
                            svg path {
                                fill: #ffffff;
                            }
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 1500.98px) {
        .top-ft {
            .heading {
                font-size: 48px;
                line-height: 56px;
            }
            .wrap .right-top {
                .address {
                    font-size: 18px;
                    line-height: 24px;
                }
                ._contact a {
                    font-size: 18px;
                    line-height: 24px;
                }
            }
        }
        .bottom-ft .wrap {
            align-items: flex-start;
            .logo-ft {
                .bottom-heading {
                    font-size: 38px;
                    line-height: 42px;
                }
                .copyright {
                    margin-top: 64px;
                }
            }
        }
    }

    @media (max-width: 1024.98px) {
        .top-ft .wrap .right-top .address{
            margin-right: 36px;
        }
        .bottom-ft .wrap {
            .logo-ft {
                padding-right: 40px;
                .content-bt{
                    padding-left: 32px;
                }
            }
            .social ul{
                margin-left: 32px;
            }
        }
    }

    @media (max-width: 850px){
        .bottom-ft {
            padding-bottom: 24px;
            .wrap{
                flex-direction: column;
                .logo-ft {
                    flex-direction: column;
                    padding-right: 0;
                    width: 100%;
                    align-items: center;
                    .copyright{
                        display: none;
                    }
                    .bottom-heading{
                        text-align: center;
                        margin-top: 36px;
                    }
                    .content-bt{
                        padding-left: 0;
                    }
                }
                .social{
                    width: 100%;
                    margin-top: 60px;
                    justify-content: space-between;
                }
                > .copyright{
                    display: block;
                    text-align: center;
                    width: 100%;
                    max-width: 225px;
                    margin: 36px auto 0;
                }
            }
        }
    }
    @media (max-width: $mobile-bigger){
        .top-ft .wrap{
            flex-direction: column;
            .right-top{
                margin-top: 32px;
            }
        }
    }
    @media (max-width: $mobile-smaller){
        .top-ft {
            padding: 48px 0 60px;
            .heading{
                text-align: center;
            }
            .wrap .right-top{
                flex-direction: column;
                text-align: center;
                .address{
                    margin-right: 0;
                }
                ._contact{
                    margin-top: 40px;
                }
            }
        }
        .bottom-ft .wrap .social{
            padding-top: 10px;
        }
    }
}
