body.logged-in{
    @media (max-width: $mobile-smaller){
        .site-header .wrap .__right{
            // top: 126px;
        }
    }
}
body .site-header {
    background: transparent;
    padding: 32px 0 0;
    position: absolute;
    width: 100%;
    z-index: 99;
    .wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .__logo {
            a {
                display: block;
            }
            img {
                height: 105px;
                width: auto;
            }
        }
        .__toggle-menu{display: none;}
        .__right {
            display: flex;
            align-items: flex-end;
            ._cta {
                background-color: #ffffff;
                color: $primary-color;
                font-family: $font-primary;
                margin-left: 36px;
                font-weight: 300;
                font-size: 24px;
                line-height: 28px;
                border: none;
                padding: 16px 33px;
                &:hover {
                    background-color: #fff21f;
                    color: #000000;
                }
            }
            ul {
                list-style: none;
                display: flex;
                li {
                    &:not(:last-child) {
                        margin-right: 10px;
                    }
                    a {
                        width: 52px;
                        height: 52px;
                        background: #ffffff;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 100%;
                        color: $primary-color;
                        position: relative;
                        i.fa {
                            font-size: 20px;
                        }

                        &:before {
                            content: "";
                            width: 54px;
                            height: 19px;
                            background-image: url(../images/icon/hola-mini.svg);
                            background-size: cover;
                            position: absolute;
                            top: -10px;
                            left: -3px;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 1500.98px) {
        padding: 16px 0 0;
        .wrap {
            .__logo img {
                height: 80px;
            }
            .__right {
                align-items: center;
                ul li a {
                    width: 40px;
                    height: 40px;
                    &:before {
                        width: 42px;
                        height: 14px;
                        top: -6px;
                        left: -1px;
                    }
                    svg {
                        width: auto;
                        height: 22px;
                    }
                }
            }
        }
    }

    @media (max-width: $mobile-smaller){
        padding: 32px 0 0;
        .wrap {
            justify-content: center;
            .__toggle-menu{
                width: 50px;
                height: 50px;
                background-color: #ffffff;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                position: absolute;
                right: 32px;
                top: 0;
                cursor: pointer;
                span{
                    height: 4px;
                    width: 32px;
                    background-color: #e7104c;
                    &:nth-child(2){
                        margin: 6px 0;
                    }
                }
                &.active{
                    span{
                        position: absolute;
                        &:nth-child(1){
                            transform: rotate(135deg);
                        }
                        &:nth-child(2){
                            display: none;
                        }
                        &:nth-child(3){
                            transform: rotate(-135deg);
                        }
                    }
                }
            }
            .__right{
                opacity: 0;
                visibility: hidden;
                position: absolute;
                top: 50px;
                left: 0;
                width: 100%;
                background: #FFFFFF;
                z-index: 999;
                flex-direction: column;
                align-items: flex-start;
                padding: 24px;
                transition: .3s ease all;
                &.active{
                    opacity: 1;
                    visibility: visible;
                }
                ul {
                    width: 100%;
                    li {
                        &:not(:last-child){
                        }
                        a{
                            background-color: #E7104C;
                            svg path{
                               fill: #FFFFFF;
                            }
                           }
                    }
                }
                ._cta{
                    background: #E7104C;
                    color: #FFFFFF;
                    margin-left: 0;
                    margin-top: 24px;
                    font-size: 18px;
                }
            }
        }
    }

    @media (max-width: 429.98px){
        .wrap .__toggle-menu{
            right: 16px;
        }
    }
}
