.site-header{
    background: $primary-color;
    padding: 24px 0 0;
    .wrap{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .__logo {
            a{display: block;}
            img{
                height: 81px;
                width: auto;
            }
        }
        .__right{
            display: flex;
            align-items: flex-end;
            ._cta{
                background-color: #FFFFFF;
                color: #000000;
                font-family: $font-primary;
                margin-right: 32px;
                font-weight: 400;
                font-size: 24px;
                line-height: 28px;
                border: none;
                &:hover{
                    background-color: #FFF21F;
                }
            }
            ul{
                list-style: none;
                display: flex;
                li{
                    &:not(:last-child){
                        margin-right: 32px;
                    }
                    a{
                        width: 50px;
                        height: 50px;
                        background: #ffffff;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 100%;
                        color: $primary-color;
                        position: relative;
                        i.fa{font-size: 20px;}

                        &:before{
                            content: "";
                            width: 54px;
                            height: 19px;
                            background-image: url(../images/icon/hola-mini.svg);
                            background-size: cover;
                            position: absolute;
                            top: -10px;
                            left: -3px;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: $mobile-bigger){
        .wrap {
            .__logo img{
                height: 56px;
            }
            .__right {
                ._cta{
                    margin-right: 18px;
                    padding: 10px 12px;
                    font-size: 16px;
                    line-height: 24px;
                }
                ul li {
                    &:not(:last-child) {
                        margin-right: 12px;
                    }
                    a{
                        width: 36px;
                        height: 36px;
                        &:before{
                            width: 36px;
                            height: 12px;
                            left: 0px;
                        }
                        svg{
                            height: 18px;
                        }
                    }
                }
            }
        }
    }
    @media (max-width: 374.98px){
        .wrap {
            .__logo img{
                height: 48px;
            }
            .__right {
                ._cta{
                    margin-right: 10px;
                }
                ul li:not(:last-child){
                    margin-right: 10px;
                }
            }
        }
    }
}