.page-template-homepage{
  
  .hero-ss{
    background-color: $primary-color;
    padding: 150px 0 135px;
    overflow: hidden;
    position: relative;
    z-index: 2;
    &:before{
      content: "";
      width: 100%;
      height: 180px;
      background-image: url(../images/hero-path.png);
      background-size: cover;
      background-position: left;
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: -5;
    }
    .wrap{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .left-hero{
      max-width: 520px;
      h1{
        font-family: $font-primary;
        font-weight: 300;
        font-size: 71px;
        line-height: 86px;
        color: #fff11e;
        span{
          font-size: 125px;
          line-height: 100%;
          font-family: $font-primary;
          &.lesser{
            position: relative;
            font-size: 148px;
            line-height: 75%;
            &:after{
              content: "";
              width: 90px;
              height: 150px;
              background-image: url(../images/icon/le-icon.svg);
              background-position: center;
              background-size: contain;
              background-repeat: no-repeat;
              position: absolute;
              right: -90px;
              bottom: 34px;
            }
          }
          &.evil{
            font-size: 148px;
            line-height: 75%;
          }
          &.choice{
            font-size: 81px;
            line-height: 100%;
            position: relative;
            top: -48px;
          }
        }
      }
      p{
        font-weight: 400;
        font-size: 32px;
        line-height: 140%;
        color: #FFFFFF;
        margin: 12px 0 48px;
      }
      .btn-cm{
        min-width: 250px;
        background: #ffffff;
        border-color: #ffffff;
        color: #E7104C;
        &.second{
          margin-left: 20px;
          color: #FFF21F;
          background: transparent;
        }
      }

    }

    .right-hero{
      width: calc( 100% - 520px);
      text-align: center;
      .img-1{
        position: inherit;
        text-align: right;
      }

    }

  }

  .benefit-ss{
    
    background-color: #ffffff;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    padding: 160px 0;
    z-index: 3;
    overflow: hidden;
    .wrap{
      text-align: center;
      display: flex;
      justify-content: flex-end;
    }

    .content{
      max-width: 536px;
      text-align: left;
      .heading{
        font-family: $font-primary;
        font-weight: 300;
        font-size: 85px;
        line-height: 100%;
        color: $primary-color;
        text-align: center;
        position: relative;
        z-index: 9;
        text-align: left;
      }
      ._des-mb{
        font-family: $font-second;
        font-size: 19px;
        line-height: 32px;
        text-align: left;
        font-weight: 700;
        margin-top: 22px;
        color: #000000;
      }
      .btn-cm{
        border: none;
        background: $primary-color;
        font-family: $font-primary;
        padding: 26px 56px;
        color: #000000;
        margin-top: 70px;
        position: relative;
        z-index: 9;
        font-size: 24px;
        line-height: 32px;
        font-weight: 300;
        min-width: 190px;
        color: #ffffff;
        &:hover{
          background-color: #FFF21F;
        }
      }
    }
    
  }

  .info-section{
    background-color: #FE3B1F;
    padding: 90px 0 85px;
    position: relative;
    z-index: 1;
    &:before{
      content: "";
      width: 100%;
      height: 24px;
      background-image: url(../images/line-info.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      bottom: -16px;
      left: 0;
      z-index: 1;
    }
    .container{
      display: flex;
      justify-content: flex-end;
    }
    .wrap{
      display: grid;
      grid-template-columns: 1fr 1fr 310px;
      grid-gap: 110px;
      max-width: 1590px;
    }
    .info{
      display: flex;
      align-items: center;
      &.col-2{
        position: relative;
        &:before, &:after{
          content: "";
          width: 16px;
          height: 215px;
          background-image: url(../images/layer-yellow.png);
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          position: absolute;
          top: 0;
          left: -55px;
        }
        &:after{right: -55px;left: inherit}
        .big{
          color: #FCE200;
          margin-right: 16px;
        }
        .small {
          > span .gram{
            margin-bottom: -32px;
          }
          .sub{
            width: 100%;
            left: 0;
          }
          .sub2{
            max-width: 295px;
            font-size: 32px;
            letter-spacing: 0.02em;
            margin-left: 56px;
            position: relative;
            bottom: -30px;
          }
        }
      }
      .big{
        font-size: 145px;
        line-height: 100%;
        color: #FFFFFF;
        font-family: $font-primary;
        font-weight: 300;
        margin-top: -50px;
        margin-right: 24px;
      }
      .small{
        font-family: $font-primary;
        font-size: 34px;
        line-height: 100%;
        letter-spacing: 0.03em;
        font-weight: 300;
        color: #ffffff;
        position: relative;
        .sub{
          font-size: 34px;
          line-height: 100%;
          position: absolute;
          left: 60px;
          top: -6px;
          letter-spacing: 0.03em;
        }
        > span{
          font-size: 122px;
          line-height: 100%;
          font-family: $font-primary;
          color: #FCE200;
          display: flex;
          .num{
            font-family: $font-primary;
            font-size: 146px;
            line-height: 100%;
            margin-right: 16px;
            margin-top: -24px;
          }
          .gram{
            font-family: $font-primary;
            font-size: 122px;
            line-height: 100%;
          }
        }
        .sub2{
          font-family: $font-primary;
          font-size: 34px;
          line-height: 100%;
          color: #ffffff;
          text-align: right;
        }
      }
    }
    .pros{
      .pro{
        display: flex;
        align-items: center;
        &:not(:last-child){
          margin-bottom: 12px;
        }
        img{
          display: block;
          margin-right: 20px;
          width: 60px;
        }
        span{
          font-family: $font-primary;
          font-size: 34px;
          line-height: 100%;
          font-weight: 300;
          color: #ffffff;
        }
      }
    }
  }

  .intro-ss{
    background: #FBF11F;
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    overflow: hidden;
    z-index: 1;
    .wrap-circle{
      width: 50%;
      z-index: 1;
    }
    .wrap{
      display: flex;
      align-items: center;
    }
    .left-intro{
      position: relative;
      max-width: 675px;
      background: #FBF11F;
      padding: 150px 0;
      &:before{
        content: "";
        width: 160px;
        height: 100%;
        background: #FBF11F;
        position: absolute;
        right: -160px;
        top: 0;
      }
      &:after{
        content: "";
        max-width: 500px;
        width: 100%;
        height: 100%;
        position: absolute;
        right: -660px;
        top: 0;
        background-image: url(../images/shadow-intro.png);
        background-repeat: no-repeat;
        background-size: cover;
      }
      h2{
        font-family: $font-primary;
        font-size: 85px;
        line-height: 100%;
        font-weight: 300;
        color: #EE402F;
      }
      .des-intro{
        font-family: $font-second;
        font-size: 19px;
        line-height: 32px;
        font-weight: 500;
        margin-top: 32px;
        span{
          display: block;
          margin-top: 24px;

        }
      }
    }
  }
  .flavour-ss{
    background: #ffffff;
    padding: 100px 0 90px;
    position: relative;
    z-index: 99;
    overflow: hidden;
    .wrap{
      text-align: center;
    }
    .wrap-fla{
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      margin-top: 90px;
      .item-fla{
        display: block;
        img{
          height: 650px;
          object-fit: cover;
          object-position: bottom;
        }
        .des{
          font-family: $font-primary;
          font-size: 35px;
          line-height: 48px;
          font-weight: 300;
          margin-top: 18px;
          text-transform: uppercase;
          margin-left: -48px;
        }
      }
    }
    .heading{
      font-family: $font-primary;
      font-weight: 300;
      font-size: 90px;
      line-height: 120px;
      color: #E7104C;
      margin-bottom: 20px;
    }
    .des{
      font-family: $font-second;
      font-weight: 500;
      font-size: 24px;
      line-height: 32px;
      text-align: center;
      color: #000000;
    }
    .btn-cm{
      margin-top: 40px;
      border: none;
      background: $primary-color;
      padding: 14px 32px;
      color: #FFFFFF;
      min-width: 190px;
      font-weight: 300;
      &:hover{
        background-color: #FFF21F;
      }
    }

  }
  .intro2-ss{
    background-color: #9d1d96;
    padding-top: 75px;
    padding-bottom: 24px;
    position: relative;
    z-index: 1;
    &:before{
      content: "";
      width: 100%;
      height: 24px;
      background-image: url(../images/line-intro.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      bottom: -10px;
      left: 0;
      z-index: 1;
    }
    .wrap{
      display: flex;
      align-items: center;
    }
    .left-intro{
      max-width: 805px;
      width: 100%;
      .heading-intro{
        font-family: $font-primary;
        font-size: 85px;
        line-height: 100%;
        font-weight: 300;
        color: #FFFFFF;
        span{font-family: $font-primary; color: #FFF31F;}
      }
      .des-intro{
        font-family: $font-second;
        font-size: 19px;
        line-height: 32px;
        font-weight: 500;
        color: #FFFFFF;
        max-width: 686px;
        margin-top: 32px;
      }
    }
    .right-intro{
      width: calc(100% - 805px);
      text-align: right;
      z-index: 3;
      position: relative;
      img{
        margin-bottom: -20px;
      }
    }
  }
  .choice-ss{
    position: relative;
    .container{
      position: relative;
      display: flex;
      justify-content: flex-end;
      background-repeat: no-repeat;
      background-position: left bottom;
      background-size: contain;
      .img-big{
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
    .wrap-choice{
      max-width: 665px;
      padding: 170px 0 250px;
    }
    .heading{
      font-family: $font-primary;
      font-weight: 300;
      font-size: 85px;
      line-height: 93px;
      color: #9D1D96;
    }
    .faq_list{
      margin-top: 28px;
      .item-faq{
        &:not(:last-child){
          margin-bottom: 24px;
        }
        &.active{
          .question {
            .toggle{
              .minus{display: block;}
              .plus{display: none;}
            }
          }
        }
        .question{
          font-family: $font-primary;
          font-weight: 300;
          font-size: 34px;
          line-height: 46px;
          color: #9D1D96;
          position: relative;
          cursor: pointer;
          .toggle{
            width: 38px;
            height: 38px;
            background-image: url(../images/bg-question.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            right: 0;
            top: 4px;
            .minus{display: none;}
            svg{
              display: block;
            }
          }
        }
        .answer{
          display: none;
          margin-top: 22px;
          font-family: $font-second;
          font-weight: 500;
          font-size: 19px;
          line-height: 29px;
          color: #000000;
        }
      }
    }
  }
  .choice-2-ss{
    padding: 215px 0;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    z-index: 1;
    .heading{
      font-family: $font-primary;
      font-size: 80px;
      line-height: 100%;
      font-weight: 300;
      color: #FFFFFF;
      max-width: 948px;
      margin: 0 auto;
      text-align: center;
    }
  }
  .where-to-buy{
    background: #ffffff;
    padding: 100px 0;
    .heading{
      font-family: $font-primary;
      font-weight: 300;
      font-size: 70px;
      line-height: 94px;
      text-transform: uppercase;
      text-align: center;
      color: #1F1F1F;
      margin-bottom: 32px;
    }
    .des{
      font-size: 32px;
      line-height: 52px;
      font-family: $font-primary;
      text-align: center;
      color: #1F1F1F;
    }
  }
  .contact-ss{
    background:#1EADBB;
    padding: 100px 0 135px;
    position: relative;
    z-index: 2;
    .wrap-circle{
      z-index: -1;
    }
    &::before{
      content: "";
      background-image: url(../images/bg-ct.png);
      width: 100%;
      height: 180px;
      position: absolute;
      bottom: -16px;
      left: 0;
      background-repeat: no-repeat;
      background-size: auto;
      background-position: center;
      z-index: -1;
    }
    .wrap-contact{
      display: flex;
      align-items: flex-start;
      max-width: 1500px;
      margin: 0 auto;
      .left-contact{
        max-width: 610px;
        width: 100%;
        .heading{
          font-family: $font-primary;
          font-weight: 300;
          font-size: 115px;
          line-height: 100%;
          color: #FFF11E;
          margin: 0 0 15px;
          span{
            font-family: $font-primary;
            color: #FFFFFF;
          }
        }
        .des{
          font-family: $font-second;
          font-size: 19px;
          line-height: 32px;
          font-weight: 400;
          color: #ffffff;
          max-width: 640px;
        }
        img{
          display: block;
          margin: 60px auto 0;
        }
      }
      .right-contact{
        padding-left: 50px;
        width: calc(100% - 610px);
        .gform_confirmation_wrapper {
          .gform_confirmation_message{
            text-align: center;
            font-size: 32px;
            line-height: 52px;
            font-family: "Londrina Solid", cursive;
            text-align: center;
            color: #ffffff;
          }
        }
        .gform_wrapper{
          max-width: 630px;
          margin-left: auto;
          &.gform_validation_error{
            .gform_validation_errors{display: none;}
            .gform_body .gfield{
              &.gfield_error{
                .gfield_description{
                  background: transparent;
                  border: none;
                  padding: 0;
                  color: #ed1944;
                }
              }
            }
          }
          .gform_body {
            .gform_fields{
              grid-column-gap: 0;
              grid-row-gap: 0;
            }
            .gfield{
              margin-bottom: 18px;
              &:last-child{margin-bottom: 0;}
              .gfield_label{display: none;}
              .ginput_container{
                input{
                  padding: 18px 22px;
                  height: 62px;
                  font-family: $font-primary;
                  font-size: 20px;
                  line-height: 34px;
                  font-weight: 300;
                  color: #000000;
                }
                textarea{
                  padding: 18px 22px;
                  font-family: $font-primary;
                  font-size: 20px;
                  line-height: 34px;
                  font-weight: 300;
                  color: #000000;
                  height: 200px;
                }
              }
            }
          }
          .gform_footer{
            padding: 0;
            margin: 18px 0 0;
            img.gform_ajax_spinner {
              display: none !important;
            }
            input[type="submit"]{
              border-radius: 0;
              margin-bottom: 0;
              background: #FFF11E;
              width: 158px;
              height: 64px;
              font-size: 25px;
              line-height: 34px;
              font-weight: 300;
              font-family: $font-primary;
              color: #1EADBB;
              text-transform: uppercase;
              text-align: left;
              background-image: url(../images/icon-ct.svg);
              background-repeat: no-repeat;
              background-position: 80% center;
              background-size: 27px;
            }
          }
        }
      }
    }
  }

  @media (max-width: 1800.98px){
    .benefit-ss{
      background-size: cover;
    }
    .info-section .wrap{
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 70px;
    }
  }
  @media (max-width: 1600.98px){
    .benefit-ss{
      padding: 0;
      .content{
        padding: 160px 0 160px 24px;
        position: relative;
        background: #FFFFFF;
        &::before{
          content: "";
          width: 150px;
          height: 100%;
          position: absolute;
          left: -148px;
          top: 0;
          background: linear-gradient(90deg, rgba(255, 255, 255, 0.66) 0%, #ffffff 100%);
        }
      }
    }
    .info-section {
      padding: 64px 0;
      .info {
        .big{
          font-size: 100px;
        }
        .small{
          >span {
            .num{
              font-size: 118px;
            }
            .gram{
              font-size: 90px;
            }
          }
          .sub{
            font-size: 24px;
          }
          .sub2{
            font-size: 28px;
            margin-left: 0;
          }
        }
        &.col-2 {
          &:before{
            height: 200px;
            left: -35px;
          }
          &:after{
            right: -35px;
          }
          .small .sub2{
            max-width: 100%;
            font-size: 28px;
            margin-left: 0;
          }
        }
      }
      .pros .pro {
        img{
          margin-right: 16px;
          width: 50px;
        }
        span{
          font-size: 28px;
        }
      }
    }
  }

  @media (max-width: 1500.98px){
    .hero-ss {
      padding: 80px 0 90px;
      .left-hero {
        h1 {
          span{
            font-size: 100px;
            &.lesser{
              font-size: 110px;
              &:after{
                bottom: 24px;
              }
            }
            &.evil{
              font-size: 115px;
            }
            &.choice{
              font-size: 56px;
              top: -40px;
            }
          }
        }
      }
      .right-hero{
        padding-left: 80px;
        img{
          height: 400px;
        }
      }
    }
    .benefit-ss .content {
      .heading{
        font-size: 65px;
      }
      .btn-cm{
        margin-top: 32px;
        padding: 16px 24px;
      }
    }
    .intro-ss .left-intro{
      padding: 64px 0;
      max-width: 50%;
      &:before{
        width: 80px;
        right: -80px;
      }
      &:after{
        max-width: 200px;
        right: -280px;
      }
      h2{
        font-size: 65px;
        br{display: none;}
      }
    }
    .flavour-ss {
      .container{
        max-width: 100%;
      }
      .heading{
        font-size: 65px;
        line-height: 100%;
      }
      .wrap-fla .item-fla .des{
        font-size: 28px;
        line-height: 32px;
        margin-left: 0;
      }
    }
    .intro2-ss {
      .left-intro {
        max-width: 50%;
        .heading-intro{
          font-size: 65px;
        }
      }
      .right-intro{
        width: 50%;
        img{
          height: 600px;
          margin-bottom: -27px;
        }
      }
    }
    .choice-ss {
      .heading{
        font-size: 65px;
        line-height: 100%;
      }
      .container {
        .img-big{
          height: 700px;
        }
      }
      .wrap-choice{
        max-width: 50%;
        padding: 80px 0 120px;
      }
    }
    .choice-2-ss{
      padding: 80px 0;
      .heading{
        font-size: 65px;
      }
    }
    .where-to-buy {
      padding: 80px 0;
      .heading{
        font-size: 65px;
        line-height: 100%;
      }
      .des{
        font-size: 28px;
        line-height: 36px;
      }
    }
    .contact-ss {
      padding: 80px 0;
      .wrap-contact {
        .left-contact {
          .heading{
            font-size: 65px;
          }
          img{
            margin: 48px auto 0;
          }
        }
        .right-contact .gform_wrapper .gform_body .gfield .ginput_container {
          input{
            height: 56px;
          }
          textarea{
            height: 150px;
          }
        }
      }
    }

  }

}