.page-template-homepage {
  .hero-ss {
    background-color: $primary-color;
    padding: 295px 0 135px;
    overflow: hidden;
    position: relative;
    z-index: 2;
    &:before {
      content: "";
      width: 100%;
      height: 180px;
      background-image: url(../images/hero-path.png);
      background-size: cover;
      background-position: left;
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: -5;
    }
    .wrap {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .left-hero {
      max-width: 520px;
      z-index: 1;
      h1 {
        font-family: $font-primary;
        font-weight: 300;
        font-size: 71px;
        line-height: 86px;
        color: #fff11e;
        span {
          font-size: 125px;
          line-height: 100%;
          font-family: $font-primary;
          &.lesser {
            position: relative;
            font-size: 148px;
            line-height: 75%;
            &:after {
              content: "";
              width: 90px;
              height: 150px;
              background-image: url(../images/icon/le-icon.svg);
              background-position: center;
              background-size: contain;
              background-repeat: no-repeat;
              position: absolute;
              right: -90px;
              bottom: 34px;
            }
          }
          &.evil {
            font-size: 148px;
            line-height: 75%;
          }
          &.choice {
            font-size: 81px;
            line-height: 100%;
            position: relative;
            top: -48px;
          }
        }
      }
      p {
        font-weight: 400;
        font-size: 32px;
        line-height: 140%;
        color: #ffffff;
        margin: 12px 0 48px;
      }
      .btn-cm {
        background: #ffffff;
        border-color: #ffffff;
        color: #e7104c;
        font-weight: 300;
        &:hover {
          background-color: #fff21f;
          color: #000000;
          border-color: #fff21f;
        }
        &.second {
          margin-left: 20px;
          color: #fff21f;
          background: transparent;
        }
      }
    }

    .right-hero {
      width: calc(100% - 520px);
      text-align: center;
      .img-1 {
        position: relative;
        text-align: right;
        z-index: -4;
        img {
          margin-right: -13%;
        }
      }
      .wrap-circle {
        z-index: 0;
      }
    }
  }

  .benefit-ss {
    background-color: #ffffff;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    z-index: 3;
    overflow: hidden;
    margin-top: -1px;
    padding: 160px 0;
    background-size: 93% 100%;
    .wrap {
      text-align: center;
      display: flex;
      justify-content: flex-end;
      .img-mb{display: none;}
    }

    .content {
      max-width: 536px;
      text-align: left;
      
      .heading {
        font-family: $font-primary;
        font-weight: 300;
        font-size: 85px;
        line-height: 100%;
        color: $primary-color;
        text-align: center;
        position: relative;
        z-index: 9;
        text-align: left;
      }
      ._des-mb {
        font-family: $font-second;
        font-size: 19px;
        line-height: 32px;
        text-align: left;
        font-weight: 700;
        margin-top: 22px;
        color: #000000;
      }
      .btn-cm {
        border: none;
        background: $primary-color;
        font-family: $font-primary;
        padding: 16px 38px;
        color: $primary-color;
        margin-top: 70px;
        position: relative;
        z-index: 9;
        font-size: 24px;
        line-height: 32px;
        font-weight: 300;
        color: #ffffff;
        &:hover {
          background-color: #fff21f;
          color: #000000;
        }
      }
    }
  }

  .info-section {
    background-color: #fe3b1f;
    padding: 90px 0 85px;
    position: relative;
    z-index: 1;
    &:before {
      content: "";
      width: 100%;
      height: 24px;
      background-image: url(../images/line-info.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      bottom: -16px;
      left: 0;
      z-index: 1;
    }
    .container {
      display: flex;
      justify-content: flex-end;
    }
    .wrap {
      display: grid;
      grid-template-columns: 1fr 1fr 310px;
      grid-gap: 110px;
      max-width: 1590px;
    }
    .info {
      display: flex;
      align-items: center;
      &.col-2 {
        position: relative;
        &:before,
        &:after {
          content: "";
          width: 16px;
          height: 215px;
          background-image: url(../images/layer-yellow.png);
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          position: absolute;
          top: 0;
          left: -55px;
        }
        &:after {
          right: -55px;
          left: inherit;
        }
        .big {
          color: #fce200;
          margin-right: 16px;
        }
        .small {
          > span .gram {
            margin-bottom: -32px;
          }
          .sub {
            width: 100%;
            left: 0;
          }
          .sub2 {
            max-width: 295px;
            font-size: 32px;
            letter-spacing: 0.02em;
            margin-left: 56px;
            position: relative;
            bottom: -30px;
          }
        }
      }
      .big {
        font-size: 145px;
        line-height: 100%;
        color: #ffffff;
        font-family: $font-primary;
        font-weight: 300;
        margin-top: -50px;
        margin-right: 24px;
      }
      .small {
        font-family: $font-primary;
        font-size: 34px;
        line-height: 100%;
        letter-spacing: 0.03em;
        font-weight: 300;
        color: #ffffff;
        position: relative;
        .sub {
          font-size: 34px;
          line-height: 100%;
          position: absolute;
          left: 60px;
          top: -6px;
          letter-spacing: 0.03em;
        }
        > span {
          font-size: 122px;
          line-height: 100%;
          font-family: $font-primary;
          color: #fce200;
          display: flex;
          .num {
            font-family: $font-primary;
            font-size: 146px;
            line-height: 100%;
            margin-right: 16px;
            margin-top: -24px;
          }
          .gram {
            font-family: $font-primary;
            font-size: 122px;
            line-height: 100%;
          }
        }
        .sub2 {
          font-family: $font-primary;
          font-size: 34px;
          line-height: 100%;
          color: #ffffff;
          text-align: right;
        }
      }
    }
    .pros {
      .pro {
        display: flex;
        align-items: center;
        &:not(:last-child) {
          margin-bottom: 12px;
        }
        img {
          display: block;
          margin-right: 20px;
          width: 60px;
        }
        span {
          font-family: $font-primary;
          font-size: 34px;
          line-height: 100%;
          font-weight: 300;
          color: #ffffff;
        }
      }
    }
  }

  .intro-ss {
    background: #fbf11f;
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    overflow: hidden;
    z-index: 1;
    .img-mb{display: none;}
    .wrap-circle {
      width: 50%;
      z-index: 1;
    }
    .wrap {
      display: flex;
      align-items: center;
    }
    .left-intro {
      position: relative;
      max-width: 675px;
      background: #fbf11f;
      padding: 150px 0;
      &:before {
        content: "";
        width: 160px;
        height: 100%;
        background: #fbf11f;
        position: absolute;
        right: -160px;
        top: 0;
      }
      &:after {
        content: "";
        max-width: 500px;
        width: 100%;
        height: 100%;
        position: absolute;
        right: -660px;
        top: 0;
        background-image: url(../images/shadow-intro.png);
        background-repeat: no-repeat;
        background-size: cover;
      }
      h2 {
        font-family: $font-primary;
        font-size: 85px;
        line-height: 100%;
        font-weight: 300;
        color: #ee402f;
      }
      .des-intro {
        font-family: $font-second;
        font-size: 19px;
        line-height: 32px;
        font-weight: 700;
        margin-top: 32px;
        span {
          display: block;
          margin-top: 24px;
        }
      }
    }
  }
  .flavour-ss {
    background: #ffffff;
    padding: 100px 0 90px;
    position: relative;
    z-index: 99;
    overflow: hidden;
    .wrap {
      text-align: center;
    }
    .wrap-fla {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      margin-top: 42px;
      .item-fla {
        display: block;
        &:hover {
          img.fruit {
            -webkit-animation: tada 4s linear infinite;
            -moz-animation: tada 4s linear infinite;
            animation: tada 4s linear infinite;
          }
        }
        .img {
          position: relative;
          img.can {
            object-fit: cover;
            object-position: bottom;
            max-height: 430px;
          }
          img.fruit {
            position: absolute;
            // width: 280px;
            // max-height: initial;
            height: auto;
            bottom: -24px;
            right: 30px;
            max-width: 180px;
          }
        }
        .des {
          font-family: $font-primary;
          font-size: 35px;
          line-height: 48px;
          font-weight: 300;
          text-transform: uppercase;
          margin-left: -48px;
          margin-top: 70px;
        }
      }
    }
    .heading {
      font-family: $font-primary;
      font-weight: 300;
      font-size: 90px;
      line-height: 120px;
      color: #e7104c;
      margin-bottom: 20px;
    }
    .des {
      font-family: $font-second;
      font-weight: 500;
      font-size: 24px;
      line-height: 32px;
      text-align: center;
      color: #000000;
    }
    .btn-cm {
      margin-top: 40px;
      border: none;
      background: $primary-color;
      padding: 14px 32px;
      color: #ffffff;
      min-width: 190px;
      font-weight: 300;
      &:hover {
        background-color: #fff21f;
        color: #000000;
      }
    }
  }
  .intro2-ss {
    background-color: #9d1d96;
    padding-top: 75px;
    padding-bottom: 24px;
    position: relative;
    z-index: 1;
    &:before {
      content: "";
      width: 100%;
      height: 24px;
      background-image: url(../images/line-intro.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      bottom: -10px;
      left: 0;
      z-index: 1;
    }
    .wrap {
      display: flex;
      align-items: center;
    }
    .left-intro {
      max-width: 805px;
      width: 100%;
      .heading-intro {
        font-family: $font-primary;
        font-size: 85px;
        line-height: 100%;
        font-weight: 300;
        color: #ffffff;
        span {
          font-family: $font-primary;
          color: #fff31f;
        }
      }
      .des-intro {
        font-family: $font-second;
        font-size: 19px;
        line-height: 32px;
        font-weight: 500;
        color: #ffffff;
        max-width: 686px;
        margin-top: 32px;
      }
    }
    .right-intro {
      width: calc(100% - 805px);
      text-align: right;
      z-index: 3;
      position: relative;
      img {
        margin-bottom: -20px;
      }
    }
  }
  .choice-ss {
    position: relative;
    .container {
      position: relative;
      display: flex;
      justify-content: flex-end;
      background-repeat: no-repeat;
      background-position: left bottom;
      background-size: contain;
      .img-big {
        position: absolute;
        bottom: -1px;
        left: 0;
      }
    }
    .wrap-choice {
      max-width: 665px;
      width: 100%;
      padding: 170px 0 250px;
      z-index: 9;
    }
    .heading {
      font-family: $font-primary;
      font-weight: 300;
      font-size: 85px;
      line-height: 93px;
      color: #9d1d96;
    }
    .faq_list {
      margin-top: 28px;
      .item-faq {
        &:not(:last-child) {
          margin-bottom: 24px;
        }
        &.active {
          .question {
            .toggle {
              .minus {
                display: block;
              }
              .plus {
                display: none;
              }
            }
          }
        }
        .question {
          font-family: $font-primary;
          font-weight: 300;
          font-size: 34px;
          line-height: 46px;
          color: #9d1d96;
          position: relative;
          cursor: pointer;
          .toggle {
            width: 38px;
            height: 38px;
            background-image: url(../images/bg-question.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            right: 0;
            top: 4px;
            .minus {
              display: none;
            }
            svg {
              display: block;
            }
          }
        }
        .answer {
          display: none;
          margin-top: 22px;
          font-family: $font-second;
          font-weight: 500;
          font-size: 19px;
          line-height: 29px;
          color: #000000;
        }
      }
    }
  }
  .choice-2-ss {
    padding: 215px 0;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    z-index: 1;
    .heading {
      font-family: $font-primary;
      font-size: 80px;
      line-height: 100%;
      font-weight: 300;
      color: #ffffff;
      max-width: 948px;
      margin: 0 auto;
      text-align: center;
    }
  }
  .where-to-buy {
    background: #ffffff;
    padding: 100px 0;
    .heading {
      font-family: $font-primary;
      font-weight: 300;
      font-size: 70px;
      line-height: 94px;
      text-align: center;
      color: #1f1f1f;
      margin-bottom: 32px;
    }
    .des {
      font-size: 38px;
      line-height: 52px;
      font-family: $font-primary;
      text-align: center;
      color: #1f1f1f;
      font-weight: 300;
    }
  }
  .contact-ss {
    background: #1eadbb;
    padding: 100px 0 135px;
    position: relative;
    z-index: 2;
    .wrap-circle {
      z-index: -1;
    }
    &::before {
      content: "";
      background-image: url(../images/bg-ct.png);
      width: 100%;
      height: 180px;
      position: absolute;
      bottom: -16px;
      left: 0;
      background-repeat: no-repeat;
      background-size: auto;
      background-position: center;
      z-index: -1;
    }
    .wrap-contact {
      display: flex;
      align-items: flex-start;
      .left-contact {
        max-width: 610px;
        width: 100%;
        .heading {
          font-family: $font-primary;
          font-weight: 300;
          font-size: 115px;
          line-height: 100%;
          color: #fff11e;
          margin: 0 0 15px;
          span {
            font-family: $font-primary;
            color: #ffffff;
          }
        }
        .des {
          font-family: $font-second;
          font-size: 19px;
          line-height: 32px;
          font-weight: 400;
          color: #ffffff;
          max-width: 640px;
        }
        img {
          display: block;
          margin: 60px auto 0;
        }
      }
      .right-contact {
        padding-left: 50px;
        width: calc(100% - 610px);
        .gform_confirmation_wrapper {
          .gform_confirmation_message {
            text-align: center;
            font-size: 32px;
            line-height: 52px;
            font-family: "Londrina Solid", cursive;
            text-align: center;
            color: #ffffff;
          }
        }
        .gform_wrapper {
          max-width: 630px;
          margin: 0 auto;
          &.gform_validation_error {
            .gform_validation_errors {
              display: none;
            }
            .gform_body .gfield {
              &.gfield_error {
                .gfield_description {
                  background: transparent;
                  border: none;
                  padding: 0;
                  color: #ed1944;
                }
              }
            }
          }
          .gform_body {
            .gform_fields {
              grid-column-gap: 0;
              grid-row-gap: 0;
            }
            .gfield {
              margin-bottom: 18px;
              &:last-child {
                margin-bottom: 0;
              }
              .gfield_label {
                display: none;
              }
              .ginput_container {
                input {
                  padding: 18px 22px;
                  height: 62px;
                  font-family: $font-primary;
                  font-size: 20px;
                  line-height: 34px;
                  font-weight: 300;
                  color: #000000;
                  &::placeholder {
                    color: #000000;
                  }
                }
                textarea {
                  padding: 18px 22px;
                  font-family: $font-primary;
                  font-size: 20px;
                  line-height: 34px;
                  font-weight: 300;
                  color: #000000;
                  height: 200px;
                  &::placeholder {
                    color: #000000;
                  }
                }
              }
            }
          }
          .gform_footer {
            padding: 0;
            margin: 18px 0 0;
            img.gform_ajax_spinner {
              display: none !important;
            }
            input[type="submit"] {
              border-radius: 0;
              margin-bottom: 0;
              background: #fff11e;
              width: 158px;
              height: 64px;
              font-size: 25px;
              line-height: 34px;
              font-weight: 300;
              font-family: $font-primary;
              color: #1eadbb;
              text-transform: uppercase;
              text-align: left;
              background-image: url(../images/icon-ct.svg);
              background-repeat: no-repeat;
              background-position: 80% center;
              background-size: 27px;
            }
          }
        }
      }
    }
  }

  @media (max-width: 1800.98px) {
    .info-section .wrap {
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 70px;
    }
  }
  @media (max-width: 1600.98px) {
    .benefit-ss {
      padding: 0;
      background-size: cover;
      .content {
        position: relative;
        padding: 160px 0 160px 24px;
        position: relative;
        background: #ffffff;
        &::before {
          content: "";
          width: 150px;
          height: 100%;
          position: absolute;
          left: -148px;
          top: 0;
          background: linear-gradient(90deg, rgba(255, 255, 255, 0.66) 0%, #ffffff 100%);
        }
      }
    }
    .info-section {
      padding: 64px 0;
      .info {
        .big {
          font-size: 100px;
        }
        .small {
          > span {
            .num {
              font-size: 118px;
            }
            .gram {
              font-size: 90px;
            }
          }
          .sub {
            font-size: 24px;
          }
          .sub2 {
            font-size: 28px;
            margin-left: 0;
          }
        }
        &.col-2 {
          &:before {
            height: 200px;
            left: -35px;
          }
          &:after {
            right: -35px;
          }
          .small .sub2 {
            max-width: 100%;
            font-size: 28px;
            margin-left: 0;
          }
        }
      }
      .pros .pro {
        img {
          margin-right: 16px;
          width: 50px;
        }
        span {
          font-size: 28px;
        }
      }
    }
  }

  @media (max-width: 1500.98px) {
    .hero-ss {
      padding: 185px 0 90px;
      .left-hero {
        h1 {
          span {
            font-size: 100px;
            &.lesser {
              font-size: 110px;
              &:after {
                bottom: 24px;
              }
            }
            &.evil {
              font-size: 115px;
            }
            &.choice {
              font-size: 56px;
              top: -40px;
            }
          }
        }
      }
      .right-hero {
        padding-left: 50px;
        .img-1 {
          img {
            height: auto;
            margin-right: 0;
          }
        }
      }
    }
    .benefit-ss .content {
      .heading {
        font-size: 65px;
      }
      .btn-cm {
        margin-top: 32px;
        padding: 16px 24px;
      }
    }
    .intro-ss .left-intro {
      padding: 64px 0;
      max-width: 50%;
      &:before {
        width: 80px;
        right: -80px;
      }
      &:after {
        max-width: 200px;
        right: -280px;
      }
      h2 {
        font-size: 65px;
        br {
          display: none;
        }
      }
    }
    .flavour-ss {
      .container {
        max-width: 100%;
      }
      .heading {
        font-size: 65px;
        line-height: 100%;
      }
      .wrap-fla .item-fla .des {
        font-size: 28px;
        line-height: 32px;
        margin-left: 0;
      }
    }
    .intro2-ss {
      .left-intro {
        max-width: 50%;
        .heading-intro {
          font-size: 65px;
        }
      }
      .right-intro {
        width: 50%;
        img {
          height: 600px;
          margin-bottom: -27px;
        }
      }
    }
    .choice-ss {
      .heading {
        font-size: 65px;
        line-height: 100%;
      }
      .container {
        .img-big {
          height: 700px;
        }
      }
      .wrap-choice {
        max-width: 50%;
        padding: 80px 0 120px;
      }
    }
    .choice-2-ss {
      padding: 80px 0;
      .heading {
        font-size: 65px;
      }
    }
    .where-to-buy {
      padding: 80px 0;
      .heading {
        font-size: 65px;
        line-height: 100%;
      }
      .des {
        font-size: 28px;
        line-height: 36px;
      }
    }
    .contact-ss {
      padding: 80px 0;
      .wrap-contact {
        .left-contact {
          .heading {
            font-size: 65px;
          }
          img {
            margin: 48px auto 0;
          }
        }
        .right-contact .gform_wrapper .gform_body .gfield .ginput_container {
          input {
            height: 56px;
          }
          textarea {
            height: 150px;
          }
        }
      }
    }
  }

  @media (max-width: 1336.98px) {
    .hero-ss .right-hero .hero-img img {
      height: auto;
      width: 100%;
    }
    .info-section {
      .wrap {
        grid-gap: 48px;
      }
      .info {
        &.col-2 {
          &:before,
          &:after {
            height: 150px;
            width: 12px;
          }
          .small .sub2 {
            font-size: 18px;
          }
        }

        .big {
          font-size: 75px;
          margin-top: -24px;
        }
        .small {
          > span {
            .num {
              font-size: 80px;
            }
            .gram {
              font-size: 56px;
            }
          }
          .sub {
            font-size: 18px;
          }
          .sub2 {
            font-size: 18px;
          }
        }
      }
      .pros .pro {
        span {
          font-size: 24px;
        }
        img {
          width: 38px;
        }
      }
    }
    .flavour-ss .wrap-fla .item-fla {
      position: relative;
      padding-bottom: 120px;
      .img {
        max-height: 580px;
      }
      .des {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
      }
    }
  }

  @media (max-width: 1300.98px){
    .flavour-ss .wrap-fla .item-fla .img img.fruit{
      max-width: 140px;
      bottom: -16px;
    }
  }

  @media (max-width: 1024.98px) {
    .hero-ss {
      .left-hero {
        max-width: 50%;
        h1 {
          font-size: 48px;
          line-height: 100%;
          span {
            font-size: 80px;
            &.lesser {
              font-size: 85px;
              &:after {
                width: 60px;
                height: 100px;
                right: -65px;
                bottom: 20px;
              }
            }
            &.evil {
              font-size: 85px;
            }
            &.choice {
              top: 0;
            }
          }
        }
        p {
          font-size: 28px;
        }
      }
      .right-hero {
        width: 50%;
        padding-left: 24px;
      }
    }
    .benefit-ss .content {
      max-width: 450px;
      padding: 80px 0 80px 24px;
      margin-right: -32px;
      &:before {
        width: 80px;
        left: -80px;
      }
    }
    .intro-ss .left-intro {
      &:before {
        width: 40px;
        right: -40px;
      }
      &:after {
        max-width: 140px;
        right: -180px;
      }
    }
    .flavour-ss .wrap-fla .item-fla {
      .des {
        font-size: 24px;
        line-height: 125%;
      }
    }
    .choice-ss .container .img-big {
      height: 520px;
    }
    .intro-ss{
      background-size: cover;
      .left-intro{
        margin-left: -32px;
        padding-left: 32px;
      }
    }
    .intro2-ss {
      .left-intro {
        max-width: 50%;
        .heading-intro {
          font-size: 48px;
        }
      }
      .right-intro {
        width: 50%;
        padding-left: 48px;
        min-height: 500px;
        img {
          height: auto;
          position: absolute;
          right: 0;
          bottom: 5px;
          width: calc(100% - 48px);
        }
      }
    }
    .contact-ss .wrap-contact {
      .left-contact {
        max-width: 50%;
      }
      .right-contact {
        width: 50%;
      }
    }
  }

  @media (max-width: 900.98px) {
    .info-section {
      .container {
        justify-content: center;
      }
      .wrap {
        grid-template-columns: 1fr;
        grid-gap: 110px;
      }
      .info {
        position: relative;
        justify-content: center;
        &:after {
          content: "";
          height: 12px;
          width: 100%;
          background-image: url(../images/layer-yellow-mb.png);
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          position: absolute;
          bottom: -56px;
        }
        &.col-2 {
          &:before{
            display: none;
          }
          &:after{
            content: "";
            height: 12px;
            width: 100%;
            background-image: url(../images/layer-yellow-mb.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
            bottom: -75px;
            top: inherit;
            right: inherit;
          }
          .small .sub2{
            max-width: 175px;
          }
        }
      }
      .pros .pro{
        justify-content: center;
      }
    }
    .flavour-ss .wrap-fla .item-fla .img img.fruit{
      max-width: 120px;
    }
  }

  @media (max-width: $mobile-bigger){
    .hero-ss {
      .wrap{
        flex-direction: column-reverse;
      }
      .left-hero{
        max-width: 100%;
      }
      .right-hero{
        width: 100%;
        padding-left: 0;
      }
    }
    .benefit-ss {
      .wrap{
        justify-content: center;
        margin-left: -32px;
        margin-right: -32px;
        flex-direction: column;
        .img-mb{
          display: block;
          width: 100%;
        }
      }
      .content{
        max-width: 100%;
        margin-right: 0;
        padding: 40px 32px 60px 32px;
        &:before{
          display: none;
        }
      }
    }
    .intro-ss {
      background-image: none !important;
      .wrap-circle{
        width: 100%;
      }
      .wrap{
        margin-left: -32px;
        margin-right: -32px;
        flex-direction: column;
      }
      .img-mb{
        display: block;
        width: 100%;
      }
      .left-intro{
        max-width: 100%;
        margin-left: 0;
        padding-left: 32px;
        padding-right: 32px;
        &:before{display: none;}
      }
    }
    .intro2-ss {
      overflow: hidden;
      &:before{display: none;}
      .wrap{
        flex-direction: column;
      }
      .left-intro{
        max-width: 100%;
      }
      .right-intro{
        width: 100%;
        padding-left: 0;
        min-height: 280px;
        img{
          width: auto;
          height: 300px;
          left: 50%;
          right: inherit;
          bottom: 0;
          transform: translateX(-50%);
        }
      }
    }
    .flavour-ss .wrap-fla{
      grid-template-columns: repeat(1, 1fr);
      max-width: 370px;
      margin-left: auto;
      margin-right: auto;
      .item-fla {
        .img {
          max-height: inherit;
          img{
            &.can{
              width: auto;
            }
            &.fruit{
              max-width: 180px;
            }
          }
        }
        .des{
          bottom: 30px;
        }
      }
    }
    .choice-ss {
      .wrap-choice{
        max-width: 100%;
        padding-bottom: 430px;
      }
      .container .img-big{
        height: 400px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    .contact-ss .wrap-contact{
      flex-direction: column;
      .left-contact{
        max-width: 100%;
      }
      .right-contact{
        width: 100%;
        padding-left: 0;
        margin-top: 75px;
      }
    }
  }

  @media (max-width: $mobile-smaller){
    .hero-ss .left-hero {
      text-align: center;
      h1{
        font-size: 38px;
        text-align: left;
        span.choice{
          font-size: 42px;
          top: -28px;
          right: 14px;
        }
      }
      p{
        font-size: 22px;
        text-align: left;
        margin: 12px 0 32px;
      }
    }

  }

}
