$font-primary: "Londrina Solid", cursive;
$font-second: 'DM Sans', sans-serif;

$primary-color: #ED1944;
$second-color: #231F20;

$desktop-smaller: 1330.98px;

$tablet-bigger: 1200.98px;
$tablet: 1024.98px;

$mobile-bigger: 767.98px;
$mobile-smaller: 599.98px;

@keyframes slow-move-anticlockwise{
  0% {
    -webkit-transform: rotate(0deg) translateX(-5px) rotate(0deg);
    transform: rotate(0) translate(-5px) rotate(0);
  }
  50% {
    -webkit-transform: rotate(-360deg) translateX(-10px) rotate(357deg);
    transform: rotate(-360deg) translate(-10px) rotate(357deg);
  }
  100% {
    -webkit-transform: rotate(-720deg) translateX(-5px) rotate(720deg);
    transform: rotate(-720deg) translate(-5px) rotate(720deg);
  }
}

@keyframes slow-move-clockwise{
  0% {
    -webkit-transform: rotate(0deg) translateX(5px) rotate(0deg);
    transform: rotate(0) translate(5px) rotate(0);
  }
  50% {
    -webkit-transform: rotate(360deg) translateX(10px) rotate(-354deg);
    transform: rotate(360deg) translate(10px) rotate(-354deg);
  }
  100% {
    -webkit-transform: rotate(720deg) translateX(5px) rotate(-720deg);
    transform: rotate(720deg) translate(5px) rotate(-720deg);
  }
}

@keyframes rainToDown{
  0% {
    -webkit-transform: translateY( 100vh );
    -moz-transform: translateY( 100vh );
    -o-transform: translateY( 100vh );
    -ms-transform: translateY( 100vh );
    transform: translateY( 100vh );
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY( 0 );
    -moz-transform: translateY( 0 );
    -o-transform: translateY( 0 );
    -ms-transform: translateY( 0 );
    transform: translateY( 0 );
    opacity: 1;
  }
}

@keyframes scaleAnim {
  0%   {
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -o-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
  }
  100%  {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes rotate360deg{
  from {
    transform: rotate(0);
  }
  to { 
      transform: rotate(-360deg);
  }
}

@keyframes rotate360degtest{
  100% {
    transform: rotate(-1turn);
  }
}

@keyframes rotate3D{
  0% {
    transform: rotate(-10deg);
  }
  50%{
    transform: rotate(0);
  }
  100% {
    transform: rotate(-10deg);
  }
}